{% extends 'user/layout.html' %}

{% block body %}
<h3>Manage Computers Types</h3>
<table border="2" style="border-collapse: collapse;">
    <thead>
        <tr>
            <td>{{ form.name }}</td>
            <td>{{ form.status }}</td>
            <td>{{ form.price_per_hour }}</td>
            <td>{{ form.graphics_card }}</td>
            <td>{{ form.ram }}</td>
            <td>{{ form.cpu }}</td>
            <td>{{ form.storage }}</td>
        </tr>
    </thead>
    <tbody>
        {% for computer in computers %}
        <tr>
            <td>
                <a style="text-decoration: none; color: black" href="{% url 'staff:view_computer_type' computer.id %}">{{ computer.name }}</a>
            </td>
            <td>{{ computer.status }}</td>
            <td>{{ computer.price_per_hour }}</td>
            <td>{{ computer.graphics_card }}</td>
            <td>{{ computer.ram }}</td>
            <td>{{ computer.cpu }}</td>
            <td>{{ computer.storage }}</td>
            <td style="border: 0;">
                <button><a href="{% url 'staff:edit_computer' computer.id %}" class="btn">Edit</a></button>
            </td>
            <td style="border: 0;">
                <button><a href="{% url 'staff:delete_computer' computer.id %}" class="btn">Delete</a></button>
            </td>
        </tr>
        {% endfor %}
        <form method="post" action="{% url 'staff:computer_types' %}">
            {% csrf_token %}
            <tr>
                {% for field in AddComputerTypeForm %}
                <td>
                    {{ field }}
                </td>
                {% endfor %}
                <td style="border: 0;">
                    <button type="submit">
                        Add
                    </button>
                </td>
            </tr>
        </form>
    </tbody>
</table>
{% endblock %}