{% extends 'user/layout.html' %}

{% block body %}
<h1> Play Table</h1>
<table border="1">
    <tr>
        <th>Tên máy</th>
        <th>Loại máy</th>
        <th>Giá</th>
        <th>Cấu hình</th>
        <th>Trạng thái</th>
        <th>Chơi</th>
        <th>Dùng Chơi</th>
    </tr>
    {% for computer in computers_list %}
        <tr>
            <td> {{computer.name}} </td>
            <td> {{computer.computer_type.name}} </td>
            <td> {{computer.computer_type.price_per_hour}} </td>
            <td> {{computer.computer_type.graphics_card}} </td>
            <td> {{computer.is_active}} </td>
            <td> <a href="{% url 'staff:play' computer.id %}">Play</a> </td>
            <td> <a href="{% url 'staff:stop' computer.id %}">Stop</a> </td>
        </tr>
    {% endfor %}
</table>

<h1>Sessions Table</h1>
<table border="1">
    <tr>
        <th>User</th>
        <th>Computer</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Is Active</th>
        <th>Cost</th>
    </tr>
    {% for session in sessions %}
        <tr>
            <td> {{session.user.username}} </td>
            <td> {{session.pc.name}} </td>
            <td> {{session.start_time}} </td>
            <td> {{session.end_time}} </td>
            <td> {{session.is_active}} </td>
            <td> {{session.cost}} VNĐ</td>
        </tr>
    {% endfor %}
</table>

<h1>Users Table</h1>
<table border="1">
    <tr>
        <th>username</th>
        <th>money_left</th>
    </tr>
    {% for user in users %}
        <tr>
            <td> {{user.username}} </td>
            <td> {{user.money_left}} </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}